#win-screen {
	background-image: url(../images/riv.png);
	background-repeat-y: no-repeat;
	background-position-y: bottom;  
	background-color: #99e9f6;
	border: solid red 4px;
	border-radius: 50px;
	height: 755px;
	width: 1000px;
	margin: 0 auto;
}

#win-text {
	height: 230px;
	width: 1000px;
	text-align: center;
	display: inline-block;
}

.ctext {
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}

#winpiccont {
	width: 1000px;
	height: 270px;
	display: inline-block;
}

#winturt {
	height: 257px;
    width: 113px;
    margin-right: 225px;
    margin-left: 200px;
	display: inline-block;
	background-image: url(../images/turtthumb.png);
	background-size: cover;
}

#wincrab {
	height: 214px;
    width: 250px;
	display: inline-block;
	background-image: url(../images/crabend.png);
	background-size: cover;
}


#winbot {
	height: 133px;
    width: 1000px;
    margin-top: 50px;
    text-align: center;
	display: inline-block;
}

#yourscore {
	height: 55px;
	width: 563px;
	border: solid black 4px;
	display: inline-block;
	margin-right: 125px;
	margin-top: 11px;
	background-color: #310586;
	color: antiquewhite;
    font-size: 40px;
    padding-top: 9px;

}

#playagain {
	height: 84px;
	width: 151px;
	border: solid black 4px;
	display: inline-block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: antiquewhite;
	text-align: center;
    vertical-align: top;
    font-weight: 900;
    font-size: 33px;
}

.titwin {
	font-size: 90px
}