#levelone {
	background-color: #3f2469;
	border: solid red 4px;
	border-radius: 50px;
	height: 755px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 27px;
}

.clue {
	border: solid #673ab7 8px;
	margin: 0 auto;
    margin-top: 22px;
	height: 60px;
	width: 410px;
	margin-bottom: 14px;
	display: inline-block;
	margin-right: 15px;
    margin-left: 15px;
    background-color: #1d0d5a;
    color: antiquewhite;
    font-size: 52px;
    padding-left: 28px;
}

.clear {
	border: solid black 4px;
	height: 40px;
	width: 82px;
	display: inline-block;
	font-weight: 900;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
    background-color: red;
}

.endturn {
	border: solid black 4px;
	background-color: aliceblue;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
	vertical-align: bottom;
	height: 54px;
	width: 131px;
	display: inline-block;
	margin-left: 21px;
	margin-right: 20px;
	margin-bottom: 28px;
	padding-top: 10px;
	height: 37px;
	width: 131px;
}

.score {
	border: solid black 4px;
	display: inline-block;
	height: 61px;
	width: 67px;
	padding-top: 4px;
	margin: 0 auto;
    margin-right: 10px;
    margin-bottom: 14px;
    font-size: 49px;
    vertical-align: top;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    margin-top: 23px;
    background-color: antiquewhite;
    border-radius: 50%;
}

.token {
	background-image: url(../images/turtmad.png);
	background-color: #00aeef;
	background-size: cover;
	border: solid black 4px;
	display: inline-block;
	height: 66px;
	width: 64px;
	margin: 0 auto;
	margin-left: 60px;
    margin-top: 22px;
    margin-bottom: 14px;
    font-size: 50px;
    vertical-align: top;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}

.board {
	border: solid transparent 4px;
	margin: 0 auto;
	height: 426px;
	width: 946px;
	border-radius: 35px;
	margin-top: 6px;
}

.button1 {
	border: solid #d9c4c4 4px;
	border-radius: 15px;
	display: inline-block;
	background-color: antiqueWhite; 
	margin: 0 auto;
	margin-bottom: 6px;
	margin-right: 3px;
	padding-top: 27px;
	text-align: center;
	height: 43px;
	width: 175px;
	letter-spacing: 2px;
	font-weight: 900;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	vertical-align: top;
}

.mbprog {
	border: solid #90a0a2 4px;
	margin: 0 auto;
	height: 22px;
	width: 900px;
	border-radius: 50px;
	background: beige;
	margin-top: 32px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 50px;
}

.prog {
	height: 22px;
    width: 0px;
   	background-color: #4ed453;
    border-radius: 50px;
}

#chasecont {
	height: 50px;
	width: 900px;
	border-color: solid red 4px;
	display: inline-block;
	background-color: transparent;
    margin: 0 auto;
    position: relative;
    margin-left: 49px;
}

#turt {
	position: fixed;
	height: 56px;
	width: 56px;
    margin-bottom: 73px;
    margin-left: 125px;
	margin-top: 5px;
	display: inline-block;
	background-image: url(../images/turtflap.png);
	background-size: cover;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-delay: 0.35s;
	-webkit-animation-iteration-count: infinite;
}

#crab {
	position: fixed;
	height: 61px;
	width: 80px;
	margin-bottom: 81px;
	margin-left: 663px;
	display: inline-block;
	background-image: url(../images/crabrf.png);
	background-size: cover;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
}

.mbcomprog {
	border: solid #90a0a2 4px;
	margin: 0 auto;
	height: 22px;
	width: 900px;
	border-radius: 50px;
	background: beige;
	margin-top: 20px;
	text-align: center;
	font-size: 50px;
}

.comprog {
	height: 22px;
    width: 100px;
   	background-color: red;
    border-radius: 50px;
}

.board {
	border: solid transparent 4px;
	margin: 0 auto;
	height: 426px;
	width: 946px;
	border-radius: 35px;
	margin-top: 6px;
}

#leveltwo {
	background-color: #cb6b08;
	border: solid red 4px;
	border-radius: 50px;
	height: 755px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 27px;
}

#levelthree {
	background-color: #acd1df;
	border: solid red 4px;
	border-radius: 50px;
	height: 755px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 27px;
}