body {
	/*background-image: url(../images/bg3.jpeg);*/
	/*background-size: cover;*/
}


.page {
	background-image: url(../images/riv.png);
	background-repeat-y: no-repeat;
	background-position-y: bottom;  
}


#instcont {
	background-color: #1c5a4d;
	border: solid red 4px;
	border-radius: 50px;
	height: 620px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 44px;
}

#title {
	/*background-color: rgba(170, 194, 197, 0.9);*/
	border: solid red 4px;
	height: 66px;
	width: 700px;
	margin: 0 auto;
	margin-top: 50px;
    border-radius: 20px;

}

#inst {
	border: solid red 4px;
    height: 400px;
    width: 600px;
    margin: 0 auto;
    display: inline-block;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 30px;
    vertical-align: top;
    position: relative;
}

#go {
	border: solid red 4px;
    height: 50px;
    width: 481px;
    position: absolute;
    top: 314px;
    left: 55px;
}

#piccont {
	left: 672px;
    border: solid red 4px;
    top: 173px;
    margin: 0 auto;
    height: 500px;
    width: 330px;
    display: inline-block;
}

.fpic {
	border: solid red 4px;
	position: inline-block;
	height: 150px;
    width: 323px;

}











 /*PAGE TWO CSS*/


#levelone {
	background-color: #1c5a4d;
	border: solid red 4px;
	border-radius: 50px;
	height: 755px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 44px;
	margin-top: 200px;
    margin-bottom: 200px;
    /*position: absolute;*/
}

#clue {
	border: solid #673ab7 8px;
	margin: 0 auto;
    margin-top: 14px;
	height: 60px;
	width: 700px;
	margin-bottom: 14px;
	display: inline-block;
	margin-right: 15px;
    margin-left: 15px;
    background-color: #1d0d5a;

}

#score {
	border: solid red 4px;
	display: inline-block;
	height: 61px;
	width: 61px;
	margin: 0 auto;
	margin-left: 15px;
    margin-right: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 50px;
    vertical-align: top;
    font-family: fantasy;
    text-align: center;
    margin-top: 23px;
    background-color: antiquewhite;
    border-radius: 50%;
}

#compscore {
	border: solid red 4px;
	display: inline-block;
	height: 61px;
	width: 61px;
	margin: 0 auto;
	margin-left: 60px;
    /*margin-right: 10px;*/
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 50px;
    vertical-align: top;
    font-family: fantasy;
    text-align: center;
}


#board {
	border: solid transparent 4px;
	margin: 0 auto;
	height: 426px;
	width: 946px;
	border-radius: 35px;
	margin-top: 13px;
}
.button1 {
	border: solid #d9c4c4 4px;
	border-radius: 15px;
	display: inline-block;
	background-color: antiqueWhite; 
	margin: 0 auto;
	margin-bottom: 6px;
	margin-right: 3px;
	padding-top: 27px;
	text-align: center;
	height: 43px;
	width: 175px;
	letter-spacing: 2px;
	font-weight: 900;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	vertical-align: top;
}

.mbprog {
	border: solid #90a0a2 4px;
	margin: 0 auto;
	height: 40px;
	width: 800px;
	border-radius: 50px;
	background: beige;
	margin-top: 75px;
	text-align: center;
	font-size: 50px;
}

.prog {
	height: 40px;
    width: 0px;
   	background-color: #4ed453;
    border-radius: 50px;
    /*background-color: #0058ff;*/

}


