
#death-screen {
	background-color: #0d1a7f;
	border: solid black 4px;
	border-radius: 50px;
	height: 755px;
	width: 1000px;
	margin: 0 auto;
    display: inline-block;


}

#dmessage {
	height: 150px;
	width: 992px;
	display: inline-block;
}

#deadturt {
	border: solid #040404 9px;
	background-image: url(../images/turtdead.png);
    background-size: cover;
    background-color: #da2929;
    height: 410px;
    width: 489px;
    display: inline-block;
    margin: 0 auto;
    margin-left: 245px;
}

#dbuttons {
	height: 150px;
    width: 993px;
    /*border: solid black 4px;*/
    margin-top: 0px;

}

#dtext {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #ff0344;
    vertical-align: middle;
    text-align: center;
    font-size: 61px;
}

#dscore {
    height: 57px;
    width: 550px;
	/*border: solid red 4px;*/
	display: inline-block;
	vertical-align: middle;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 46px;
    color: burlywood;
    padding-top: 0px;
    padding-left: 63px;
    margin-bottom: 63px;
    margin-right: 43px;
}

#restart {
    height: 62px;
    width: 200px;
	border: solid black 4px;
	display: inline-block;
	margin-top: 30px;
	background-color: #d9cb63;
	vertical-align: text-bottom;
    font-size: 40px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding-left: 43px;
    padding-top: 15px;
}

#linkstyle {
	color: #ff0344;
	text-decoration: none;
}