body {
	background-color: black;
}

p {
	font-size: 18px;
	padding-left: 17px;
    padding-right: 17px;
    text-align: justify;
    margin-right: 11px;
}

h2 {
	margin-bottom: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 35px;
    color: #c31010;
}

h3 {
	margin-bottom: 0px;
    margin-top: 12px;
}

ul {
	margin-top: 16px;
	margin-right: 11px;
}

li {
	font-size: 18px;
    margin-right: 11px;
    text-align: justify;
}

h6 {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: white;
	border: solid black 3px;
	color: black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 15px;
    padding-left: 5px;
}

#rbarh6 {
	position: absolute;
    right: 29px;
}

.page {
	background-image: url(../images/riv.png);
	background-repeat-y: no-repeat;
	background-position-y: bottom;  
	margin-top: 27px;
	cursor: url(../images/mg.png), auto;
}

#instcont {
	background-color: #562b99;
	border: solid red 4px;
	border-radius: 50px;
	height: 755px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 27px;
}

#title {
	border: solid black 4px;
	height: 74px;
	width: 798px;
	margin: 0 auto;
	margin-top: 26px;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 63px;
    font-weight: 900;
    color: #0a0a97;
    background-color: aliceblue;
}

#inst {
	border: solid black 4px;
    height: 574px;
    width: 911px;
    margin: 0 auto;
    display: inline-block;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 30px;
    vertical-align: top;
    position: relative;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 33px;
    color: #0a0a97;
    background-color: #e498e5;
}

.htp {
	letter-spacing: 4px;
    font-size: 30px;
    margin-left: 17px;
    margin-bottom: 5px;
    margin-top: 12px;
}

#startgame {
	border: solid black 4px;
    height: 50px;
    width: 481px;
    margin-top: 12px;
    margin-left: 162px;
    position: absolute;
    top: 473px;
    left: 55px;
    font-weight: 900;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 43px;
    text-align: center;
    background-color: aliceblue;
}



